body {
    font-family: comic sans-serif, sans-serif;
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    background-color:rgb(255, 0, 0);
    height: 35vh;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    list-style-type: armenian;
    padding: 10;
}

section{
    display: underline;
    margin-right: 10px;
}

section {
    background-color:white(153, 0, 255);
    text-decoration: navajowhite;
    color: rgb(80, 0, 228); 
}

nav a:hover {
    text-decoration: underline;
}

figure {
    text-align: center;
}

h1 {
    font-size: 20px;
}

section {
    padding: 20px;
}

#formação {
    background-color: rgb(189, 144, 159);
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formação {
   background-color: rgb(189, 144, 159);
    flex-basis: calc(50% - 30px);
    margin: 10px;
    text-align: center
}

.curiosidade img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 10 auto;
    display: flex;
}

table {
    border-collapse: collapse;
    width: 30%;
}

table, th, td {
    border: 1px solid red;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #b84283;
    color: white;
}

#habilidades {
    padding: 20px;
    background-color: #F0F0F0;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color:red;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}