body {
    font-family: comic sans-serif, sans-serif;
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    background-color:rgb(170, 25,25);
    height: 32vh;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    list-style-type: armenian;
    padding: 110;
}

section{
    display: underline;
    margin-right: 100px;
}

section {
    background-color:white(153, 0, 255);
    text-decoration: rgb(190, 118, 9);
    color: rgb(29, 12, 59); 
}

nav a:hover {
    text-decoration: underline;
}

figure {
    text-align: center;
}

h1 {
    font-size: 20px;
}

section {
    padding: 20px;
}

#formação {
    background-color: rgb(170, 25, 25);
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formação {
   background-color: rgb(170, 25, 25);
    margin: 10px;
    text-align: center
}

.curiosidade img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 10 auto;
    display: flex;
}


table {
    border-collapse: collapse;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 35%;
     
}

table, th, td {
    border: 0px solid #180d0d;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color:black;
    color: white;
}

#habilidades {
    padding: 20px;
    background-color: #F0F0F0;
}

footer {
    background-color: rgb(170, 25, 25);
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color:rgb(170, 25, 25);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}