body {
  background-color: #f0f0f0; 
  color: #333; 
}

header {
  display:flex;
  background-color: #c00190; 
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#hero {
  background-color: #fff; 
  text-align: center;
  padding: 20px;
}

#hero img {
  max-width: 100px;
  height: 200px;
}

#sobre {
  background-color: #ccc; 
  padding: 20px;
}

#curiosidades {
  background-color: #ccc; 
  padding: 20px;
}

#educacao {
  background-color: blueviolet; 
  padding: 20px;
  
}

#causos {
  background-color: #ccc; 
  padding: 20px;
}

#habilidades {
  background-color: rgb(187, 187, 187); 
  padding: 20px;
}

footer {
  background-color: #c00190; 
  color: #fff; 
  text-align: center;
  padding: 20px;
}
